@* @using Microsoft.AspNetCore.Mvc.TagHelpers *@
@* @model TodoListApp.WebApp.Models.TaskModels.AllTagsViewModel *@
@* *@
@* <h1>All Tags</h1> *@
@* *@
@* <ul> *@
@*     @foreach (var tag in Model.Tags) *@
@*     { *@
@*         <li> *@
@*             <a asp-action="MyTasks" asp-controller="Task" asp-route-searchString="@tag.Name">@tag.Name.ToString()</a> *@
@*         </li> *@
@*     } *@
@* </ul> *@
