@model IEnumerable<TodoListApp.WebApp.Models.TodoListWebApiModel>

<h1>Todo Lists</h1>

<ul>
    @foreach (var todoList in Model)
    {
    <li class="todo-list-item">
        @todoList.Name
        <a asp-action="ViewTasks" asp-controller="Task" asp-route-todoListId="@todoList.Id">View Tasks</a>
        <form method="post" asp-action="Delete" asp-route-id="@todoList.Id" class="delete-form">
            <button type="submit" class="delete-button">Delete</button>
        </form>
    </li>
    }
</ul>
